{% extends '_layouts/detail.njk' %}
{% block page_title %}Fear the Kraken{% endblock %}

{% block story %}
    <h2>Fear the Kraken</h2>
    <h5>Captain's log, Oct. 19, 2018</h5>
    <img src="img/kraken02.jpg" class="img-fluid" alt="Responsive image">
    <p>The kraken is a legendary cephalopod-like sea monster in Scandinavian folklore of giant size. According to the Norse sagas, the kraken dwells off the coasts of Norway and Greenland and terrorizes nearby sailors. Authors over the years have postulated that the legend may have originated from sightings of giant squids that may grow to 13–15 meters (40–50 feet) in length. The sheer size and fearsome appearance attributed to the kraken have made it a common ocean-dwelling monster in various fictional works. The kraken has been the focus of many superstitious sailors passing the North Atlantic and especially sailors from the Nordic countries due to their close proximity and its Scandinavian origin. Throughout the centuries the kraken has been a staple part of sailors' superstitions and mythos being heavily linked to sailors ability of telling a tall tale.</p>
{% endblock %}

